# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build output
dist/
build/
coverage/
.expo/
.expo-shared/
server/data/*.db
server/data/*.db-journal
server/data/*.db-shm
server/data/*.db-wal

# Environment files
.env
.env.local
.env.*.local

# Expo
*.expo
*.expo-shared

# MacOS
.DS_Store
